@import "./breakpoints.scss";
@import "./variables.scss";

@mixin textStyling {
    &.strong3 {
      font-weight: 300;
    }
    &.strong4 {
      font-weight: 400;
    }
    &.strong5 {
      font-weight: 500;
    }
    &.strong6 {
      font-weight: 600;
    }
    &.strong7 {
      font-weight: 700;
    }
    &.primary {
      color: $primary;
    }
    &.primary01 {
      color: $primary01;
    }
    &.primary03 {
      color: $primary03;
    }
    &.primary04 {
      color: $primary04;
    }
    &.secondary {
      color: $secondary;
    }
    &.black {
      color: $black;
    }
    &.white {
      color: $white;
    }
    &.white03 {
      color: $white03;
    }
    &.red {
      color: $red;
    }
    &.gray {
      color: $gray;
    }
    &.gray01 {
      color: $gray01;
    }
    &.gray02 {
      color: $gray02;
    }
    &.darkGray {
      color: $darkGray;
    }
    &.lightGray01 {
      color: $lightGray01;
    }
    &.lightGray{
      color:$darkGray;
    }
    &.upperCase {
      text-transform: uppercase;
    }
    &.lineThrough {
      text-decoration: line-through;
    }
    &.underline {
      text-decoration: underline;
    }
  
  }

  @mixin  fontWeight {
    font-weight: 700;
    max-width:100%;
    border-radius: 12px;
  }
@mixin fonts-poppins {
    font-family: 'poppins', 'sans-serif';
    font-style: normal;
}

@mixin roboto {
    font-family: 'roboto','sans-serif';
    font-style: normal;
}
@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexJustifyCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexJustifyBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}

@mixin flexJustifyAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin flexEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@mixin flexJustifyEvenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin ScrollBar {
  .scrollBar {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 12px;
      height: 10px;
       @include sm{
         width: 10px;
         height: 8px;
       }
       @include mo {
        width: 8px;
         height: 8px;
       }
    }
    &::-webkit-scrollbar-track {
      background: $white03;
      border-radius: 8px;
        @include sm {
          width: 6px;
        }
    }
    &::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: 10px;
      border: 1px solid $white03;
    }
  }
}
@mixin ScrollBarTransparent {
  .scrollBarTransparent {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 12px;
      height: 10px;
       @include sm{
         width: 10px;
         height: 8px;
       }
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 8px;
        @include sm {
          width: 6px;
        }
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 10px;
      border: 1px solid transparent;
    }
  }
}
