@import "./breakpoints.scss";
@import "./variables.scss";

@mixin textStyling {
  &.strong3 {
    font-weight: 300;
  }

  &.strong4 {
    font-weight: 400;
  }

  &.strong5 {
    font-weight: 500;
  }

  &.strong6 {
    font-weight: 600;
  }

  &.strong7 {
    font-weight: 700;
  }

  &.primary {
    color: $primary;
  }

  &.primary01 {
    color: $primary01;
  }

  &.primary03 {
    color: $primary03;
  }

  &.primary04 {
    color: $primary04;
  }

  &.secondary {
    color: $secondary;
  }

  &.black {
    color: $black;
  }

  &.white {
    color: $white;
  }

  &.white03 {
    color: $white03;
  }

  &.red {
    color: $red;
  }

  &.gray {
    color: $gray;
  }

  &.gray01 {
    color: $gray01;
  }

  &.gray02 {
    color: $gray02;
  }

  &.darkGray {
    color: $darkGray;
  }

  &.lightGray01 {
    color: $lightGray01;
  }

  &.lightGray {
    color: $darkGray;
  }

  &.upperCase {
    text-transform: uppercase;
  }

  &.lineThrough {
    text-decoration: line-through;
  }

  &.underline {
    text-decoration: underline;
  }
}

@mixin fontWeight {
  font-weight: 700;
  max-width: 100%;
  border-radius: 12px;
}

@mixin fonts-poppins {
  font-family: 'poppins', 'sans-serif';
  font-style: normal;
}

@mixin roboto {
  font-family: 'roboto', 'sans-serif';
  font-style: normal;
}

@mixin flex {
  display: flex;
  align-items: center;
}


@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexWrapBetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin flexJustifyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexJustifyBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexJustifyAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flexJustifyEvenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin ScrollBar {
  .scrollBar {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 12px;
      height: 10px;

      @include sm {
        width: 10px;
        height: 8px;
      }

      @include mo {
        width: 8px;
        height: 8px;
      }
    }

    &::-webkit-scrollbar-track {
      background: $white03;
      border-radius: 8px;

      @include sm {
        width: 6px;
      }
    }

    &::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: 10px;
      border: 1px solid $white03;
    }
  }
}

@mixin ScrollBarTransparent {
  .scrollBarTransparent {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 12px;
      height: 10px;

      @include sm {
        width: 10px;
        height: 8px;
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 8px;

      @include sm {
        width: 6px;
      }
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 10px;
      border: 1px solid transparent;
    }
  }
}

@mixin webkinborderNone {
  -webkit-appearance: none;
  -moz-appearance: none;
  list-style: none;
  text-indent: 1px;
  text-overflow: '';
}

@mixin notificationContainer {
  .container {
    user-select: none;
    @include fonts-poppins;

    @include md {
      margin-left: 20px;
    }

    @include mo {
      margin-left: 5px;
    }

    .heading {
      font-size: $font-mdbig;
      margin: 80px 0px 10px 0px;

      @include mo {
        font-size: $font-xllg;
      }
    }

    @include ScrollBar;

    .scrollBar {
      overflow: auto;
    }

    .tableContainer {
      width: 100%;
      max-width: 1300px;
      @include fonts-poppins;

      @include xmd {
        max-width: 1300px;
      }

      @include md {
        max-width: 810px;
      }

      @include tab {
        max-width: 1000px;
      }

      .border {
        border: none;
      }

      .tableHead {
        display: flex;

        .border {
          width: 100%;

          &:first-child {
            max-width: 30%;
          }

          &:last-child {
            max-width: 68%;

            @include xmd {
              max-width: 70%;
            }

            @include tab {
              max-width: 60%;
            }
          }
        }
      }

      .scrollWrapper {
        @include xmd {
          max-height: calc(50vh - 135px);
        }

        @include md {
          max-height: calc(70vh - 135px);
        }
      }

      .tableBody {
        max-height: 430px;
        display: block;
        padding-right: 33px;
        border-bottom: 0;

        i {
          position: absolute;
          left: 15px;
        }

        .rowBgMain {
          background: $white;
          border-radius: 10px;
          display: block;
          border: none;
          margin-bottom: 12px;
          position: relative;

          .subjectMain {
            min-width: 426px;
            border: none;

            @include xmd {
              min-width: 340px;
            }

            @include md {
              min-width: 285px;
            }
          }

          .descriptionMain {
            min-width: 548px;

            @include xmd {
              min-width: 400px;
            }

            @include md {
              min-width: 400px;
            }

            @include tab {
              min-width: 300px;
            }
          }

          .border {
            width: 100%;
          }

          .deleteText {
            cursor: pointer;
            z-index: 1;
            position: absolute;
            top: 70px;
            right: 10px;
            background: $white;
            min-width: 250px;
            padding: 10px;
            text-align: right;
            border: none;
          }
        }
      }
    }

  }
}

@mixin latestDetail {
  .colMd4 {
    flex: 0 0 33.333333%;
    max-width: 730px;

    @include sm {
      flex: 0 0 100%;
    }

    @include md {
      flex: 0 0 30%;
      padding: 0px;
      margin-right: 10px;
    }

    @include tab {
      flex: 0 0 100% !important;
      order: 2;
      margin-top: 50px;

    }

  }

  @include ScrollBar;

  .scrollBar {
    &::-webkit-scrollbar-track {
      background: $white;
    }

  }

  .w60 {
    @include md {
      flex: 0 0 30%;
    }

    @include sm {
      flex: 0 0 100%;
      margin: unset;
    }
  }
 

  .cardHeading {
    font-size: 28px;
    text-align: center;
    display: block;
    margin-bottom: 35px;

    @include xxmd {
      font-size: 22px;
    }

    @include sm {
      margin-bottom: 50px;
    }
  }

  .homeCard {
    max-height: 350px;
    word-break: break-word;

    @include xlg {
      max-height: 340px;
    }

    @include sm {
      max-height: 240px;
      margin-bottom: 84px;
    }

    .pR30 {
      padding-right: 30px;

      @include xxmd {
        padding-right: unset;
      }
    }
  }

}
@mixin criteriaProperty {
  width:100%;
  height:100%;
  border-radius: 2px;
  position: relative;
  padding: 25px 0px 0px 25px;
  margin: 69px 0px 0px 40px;
  overflow: hidden;
}

// contact-list tab sideBorder color Mixin
@mixin leftborderColor {
  content: "";
  position: absolute;
  border-radius: 10px 0px 0px 10px;
  display: block;
  width: 20px;
  height: 50px;
  top: 0;
  left: 0;
  top: 0;
}
@mixin leftExpandRowBorderColor {
  content: "";
  position: absolute;
  border-radius: 10px 0px 0px 10px;
  display: block;
  width: 20px;
  height: 100px;
  top: 0;
  left: 0;
}
//  contact-list tab sideBorder color Mixin
@mixin textEllipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// search-result css start
@mixin SearchResultContent {
  
  .container {
    width: 100%;
    max-height: 100vh;
  
    @include md {
      margin-left: 20px;
    }
  
    @include mo {
      margin-left: 0px;
    }
    @include ScrollBar;

    .scrollBar {
      max-height: 600px;
      overflow: auto;
    
      @include xxlg {
        max-height: 560px;
      }
    }
    .searchCriteria {
      width: 100%;
      @include flexBetween;
  
      @include tab {
        flex-wrap: wrap;
        gap: 20px;
      }
  
      @include mo {
        margin: 0px 5px;
      }
    }
  
    .plusIconCard {
      z-index: 1;
      position: absolute;
      top: 40px;
      right: 0px;
      min-width: 250px;
      padding: 25px;
  
      @include xsm {
        right: -85px;
      }
  
      .plusListMain {
        background: $gray;
        position: relative;
        max-width: 160px;
        max-height: 30px;
  
        .listSelect {
          max-width: 250px;
          max-height: 30px;
          color: $paua;
          font-size: $font-xl;
        }
  
        .listIcon {
          position: absolute;
          top: 0px;
          right: -45px;
          background: $gray03;
          padding: 1px;
        }
      }
  
      .addToBtn {
        font-size: $font-lg;
        max-height: 40px;
        min-width: 120px;
        margin-left: 87px;
      }
    }
  
    .trioIcon {
      position: relative;
  
      @include tab {
        margin-left: 70%;
      }
  
      @include mo {
        margin-left: 0px;
      }
  
      & i:hover {
        color: $gray02;
      }
  
      .plusIconMain {
        @include mo {
          margin: 0px 30px;
        }
      }
    }
  
    .resultText {
      @include mo {
        margin-left: 5px;
      }
    }
  
    .selectCriteria {
      max-width: 800px;
      @include flexJustifyBetween;
  
      @include md {
        max-width: 700px;
      }
  
      @include tab {
        flex-wrap: wrap;
        gap: 14px;
      }
  
      @include mo {
        max-width: 400px;
        margin: 0px 5px;
        gap: 14px;
      }
  
      @include xsm {
        gap: 10px;
      }
    }
  
    .closeIcon {
      border: 1px solid $gray06;
      border-radius: 50px;
      padding: 5px;
      cursor: pointer;
    }
  
    .otherSelectMain {
      @include tab {
        margin-right: 73%;
      }
  
      @include mo {
        margin-right: 0px;
      }
  
      @include xxsm {
        margin-right: 28%;
      }
    }
  
    .officeMain {
      background: $white;
      border-radius: 24px;
      position: relative;
  
      .officeSelect {
        min-width: 152px;
        max-height: 40px;
      }
  
      .straightIcon {
        position: absolute;
        top: 6px;
        right: 40px;
      }
  
      .selectIcon {
        position: absolute;
        top: 8px;
        right: 14px;
      }
    }
  
    .departmentTableMain {
      @include md {
        display: block;
      }
  
      @include mo {
        margin-top: 30px;
      }
  
      .tableScrollBar {
        max-height: 620px;
      }
       
  
      .colMd4 {
        margin-left: 70px;
        margin-top: 70px;
        @include latestDetail;
        // @include xxlg {
  
        // }
        @include bxlg {
          margin-left: 50px;
        }
  
        @include md {
          margin-left: 0px;
        }
  
        @include tab {
          margin-left: 0px;
        }
  
        @include mo {
          margin-top: 50px;
        }
  
        .cardHeading {
          min-width: 440px;
  
          @include xlmd {
            min-width: 400px;
          }
          @include md {
            max-width: 200px;
          }
          @include mo {
            min-width: 375px;
          }
          @include xxsm {
            min-width: 285px;
          }
        }
  
        .lstViewedImage {
          margin-right: 20px;
        }
      }
  
      .departmentArmyTab {
        margin: 0px 50px 0px 0px;
      }
  
      .tableBody {
        tr {
          border: none;
          max-width: 1200px;
        }
  
        td {
          padding: 5px;
          border: none;
        }
  
        .tableCheckbox {
          padding-bottom: 20px;
        }
      }
    }
  }
  
}
// search-result css end



