@mixin fonts-poppins {
    font-family: 'poppins', 'sans-serif';
    font-style: normal;
    font-weight: 400;
}

@mixin roboto {
    font-family: 'roboto';
    font-weight: 600;
    font-style: normal;
}