$primary: #5286ff;
$primary01: #5988ec;
$primary02: #5187ff;
$primary03: #306be8;
$primary04: #3267b1;
$primary05: rgba(50, 103, 177, 0.74);
$secondary: #242450;
$white: #ffffff;
$white01: #f5f5f5;
$white02: #c6d2e2;
$white03: #f1f1f3;
$white04: #f2f2f4;
$white05: #ccc;
$black: #000000;
$black02: #434343;
$green: #3f9835;
$green01: #409a37;
$green02: #3f9b35;
$darkGray: #222223;
$gray: #505050;
$paua: #252550;
$gray01: #222223;
$gray02: #7d7d7d;
$gray03: #b1b1b1;
$gray04: #60606d;
$gray05: #1d1d1f;
$gray06: #707070;
$gray07: #c4c4c4;
$gray08: #404040;
$lightGray: #b1b3b6;
$lightGray01: #9e9e9e;
$lightGray02: #d8d8d8;
$lightGray03: #cecece;
$lightGray04: #939598;
$yellow: #ffc000;
$yellow01: #ffcb33;
$yellow02: #ffbf01;
$red: #cc0044;
$red1: #f44336;
$lightWhite: rgba(255, 255, 255, 0.5);
$bgBeforeColor: rgba(0, 0, 0, 0.15);
$graybgBeforeColor: rgba(80, 80, 80, 0.25);
//Border
$border01: 1px solid rgba(0, 0, 0, 0.5);
// Shadow variable
$shadow01: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.25));
$shadow02: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow03: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
$shadow04: 0px 4px 4px rgb(0 0 0 / 25%);
// Font Sizes
$font-xxs: 10px;
$font-xxss: 11px;
$font-xs: 12px;
$font-sxm: 13px;
$font-sm: 14px;
$font-md: 15px;
$font-lg: 16px;
$font-mlg: 18px;
$font-mxlg: 19px;
$font-xl: 20px;
$font-xxl: 22px;
$font-xxxl: 24px;
$font-xllg: 25px;
$font-big: 26px;
$font-xbig: 29px;
$font-mbig: 32px;
$font-xmbig: 30px;
$font-mdbig: 36px;
$font-lgbig: 48px;
$font-xlbig: 60px;
$font-xxxxxl: 100px;
// Icons Size
$font-lgIcon: 28px;
$font-xlgIcon: 35px;
$font-xllgIcon: 36px;
// BreackPoints

$screen-xxsm: 320px;
$screen-msm: 370px;
$screen-xsm: 380px;
$screen-mo: 480px;
$screen-sm: 767px;
$screen-iPad: 770px;
$screen-tab: 960px;
$screen-md: 1024px;
$screen-smd: 1200px;
$screen-xmd: 1280px;
$screen-xxmd: 1366px;
$screen-xlmd: 1440px;
$screen-lg: 1510px;
$screen-blg: 1540px;
$screen-xlg: 1700px;
$screen-bxlg: 1710px;
$screen-xxlg: 1920px;
$screen-biglg: 1921px;
