@import "../../../assets/scss/variables.scss";
i {
  cursor: pointer;
}
.primary {
  color: $primary;
}
.primary01 {
  color : $primary01;
}
.primary02 {
  color: $primary02;
}
.secondary {
  color: $secondary;
}
.gray {
  color: $gray;
}
.gray02 {
  color: $gray02
  ;
}
.gray05 {
  color: $gray05;
}
.black {
  color: $black;
}
.white{
  color:$white;
}
.yellow {
  color: $yellow;
}
.icon_xsmall {
  font-size: $font-xxs;
}
.icon_xsmall01 {
  font-size:$font-xs;
}
.icon_small {
  font-size: $font-sm;
}
.icon_medium {
  font-size: $font-md;
}
.icom_big{
  font-size: $font-xmbig;
}
.icon_large {
  font-size: $font-lgIcon;
}
.icon_xlarge {
  font-size: $font-xlgIcon;
}