@import "../../../assets/scss/mixins.scss";
@include ScrollBar;

.scrollBar {
  max-height: 600px;
  width: 100%;
  overflow: auto;
  padding-right: 20px;
}

.container {
  width: 100%;
  max-width: 1130px;

  @include tab {
    min-width: 750px;
  }

  .chackMain {
    padding-bottom: 25px;
    margin-right: 14px;
  }

  .green {
    &:before {
      @include leftborderColor;
      background: $green01;
    }
  }

  .greenSecond {
    &:before {
      @include leftExpandRowBorderColor;
      background: $green01;
    }
  }

  .orange {
    &:before {
      @include leftborderColor;
      background: $yellow;
    }
  }

  .orangeSecond {
    &:before {
      @include leftExpandRowBorderColor;
      background: $yellow;
    }
  }

  .red {
    &:before {
      @include leftborderColor;
      background: $red1;
    }
  }

  .redSecond {
    &:before {
      @include leftExpandRowBorderColor;
      background: $red1;
    }
  }

  .background {
    @include flexBetween;
    background: $white;
    position: relative;
    padding: 5px 13px;
    border-radius: 10px;
    max-height: 50px;
    margin-right: 12px;
    min-width: 1040px;

    @include xxlg {
      min-width: 1016px;
    }

    @include bxlg {
      min-width: 885px;
    }

    @include blg {
      min-width: 740px;
    }

    @include xlmd {
      min-width: 650px;
    }

    @include md {
      min-width: 730px;
    }

    @include tab {
      min-width: 610px;
    }

    .contactImage {
      object-fit: cover;
    }
    .centerExpand {
      min-width: 300px;
      margin: 0px 10px;
      @include blg {
        min-width: 250px;
      }
      .designationleftText {
        min-width: 54px;
      }
    }
    .expandDesignation {
      width: 100%;
      min-width: 200px;
      text-align: right;
      @include blg {
        min-width: 130px;
      }
      @include xlmd {
        min-width: 100px;
      }
      @include tab {
        min-width: 70px;
      }
    }
    .designationMain {
      min-width: 100px;
      @include textEllipse;
      @include flexJustifyBetween;

      @include blg {
        min-width: 240px;
        margin-right: 20px;
      }

      @include xlmd {
        min-width: 190px;
      }
    }
    .designationRightText {
      max-width: 190px;
      line-height: 33px;
      @include blg {
        line-height: 20px;
        font-weight: 500;
      }
      @include xlmd {
        @include textEllipse;
      }
      @include tab {
        max-width: 90px;
        @include textEllipse;
      }
    }
    .designationText {
      width: 230px;
      @include textEllipse;
      display: inline-block;
    }

    .assistText {
      width: 290px;
      @include textEllipse;
      display: inline-block;
    }

    .valCountryMain {
      max-width: 350px;
      text-align: right;

      @include blg {
        max-width: 207px;
      }

      @include xlmd {
        max-width: 190px;
      }

      @include md {
        max-width: 205px;
      }

      @include tab {
        max-width: 150px;
      }

      .value {
        max-width: 100px;
        text-align: left;

        @include blg {
          max-width: 100px;
        }
      }

      .country {
        width: 150px;

        @include blg {
          width: 115;
        }

        @include tab {
          font-size: 15px;
          width: 150px;
        }
      }

      .gridCountry {
        @include textEllipse;
        display: inline-block;
      }
    }
  }

  .backgroundCollapse {
    padding: 12px 13px;
    max-height: unset;

    @include bxlg {
      min-width: 905px;
    }

    @include blg {
      min-width: 740px;
      gap: 10px;
    }

    @include xlmd {
      min-width: 680px;
    }

    @include md {
      min-width: 740px;
    }

    @include tab {
      min-width: 630px;
    }
  }

  .bgCollapseText {
    @include blg {
      padding: 0px;
    }

    @include xlmd {
      max-width: 120px;
      @include textEllipse;
    }
    @include tab {
      max-width: 110px;
    }

    & > div {
      @include blg {
        font-size: 16px;
        margin-top: 5px;
      }
    }
    .contactIconLeftMain {
      margin-left: 81px;
    }

    .country {
      text-align: right;
      opacity: 0.5;
    }
  }

  input {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .officerName {
    min-width: 250px;

    @include blg {
      max-width: 200px;
    }
  }

  .expandImageTwo {
    margin-left: 12px;
  }

  .size {
    @include textEllipse;
    min-width: 150px;
  }

  .iconYellow {
    color: $yellow;
  }

  .iconGray {
    color: $gray02;
  }

  .gridDevide {
    @include flexJustifyBetween;
    min-width: 400px;
  }
  .Gridcontainer {
    width: 100%;
    @include flex;
    margin-bottom: 24px;
    padding-right: 40px;

    .green {
      &:before {
        height: 100px;
      }
    }

    .orange {
      &:before {
        height: 100px;
      }
    }

    .red {
      &:before {
        height: 100px;
      }
    }

    .gridMain {
      @include flexJustifyBetween;
      min-width: 430px;

      @include blg {
        min-width: 365px;
      }

      @include xlmd {
        min-width: 330px;
      }

      @include md {
        min-width: 310px;
      }

      @include tab {
        min-width: 360px;
      }
    }

    .gridSecondMain {
      margin-left: 60px;
    }

    .background {
      max-width: 460px;
      min-height: 100px;
      @include flexJustifyBetween;
      min-width: unset;

      @include bxlg {
        max-width: 400px;
      }

      @include blg {
        max-width: 315px;
      }

      @include xlmd {
        max-width: 290px;
      }

      @include md {
        max-width: 320px;
      }
      .officerName {
        min-width: 90px;
        display: grid;
        gap: 12px;
        @include textEllipse;
        @include bxlg {
          min-width: 75px;
        }
      }
      .designationMain {
        display: grid;
        gap: 12px;
        margin-left: 30px;
        max-width: 300px;
        min-width: unset;
        @include bxlg {
          margin-left: 20px;
        }
        @include blg {
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .designationText {
        width: 125px;
        @include bxlg {
          width: 90px;
        }
        @include blg {
          width: 75px;
        }
        @include xlmd {
          width: 50px;
        }
        @include md {
          width: 55px;
        }
        @include tab {
          width: 80px;
        }
      }

      .gridDesignation {
        display: grid;
        gap: unset;
        margin-left: 0px;
        max-width: 113px;
        min-width: unset;
        @include bxlg {
          max-width: 77px;
        }
        @include blg {
          max-width: 20px;
        }
        @include xxsm {
          max-width: 30px;
        }
      }

      .valCountryMain {
        .country {
          width: 125px;

          @include bxlg {
            width: 115px;
          }
          @include xlmd {
            width: 95px;
          }
          @include xlmd {
            width: 110px;
          }
        }
      }

      .gridLogoSecond {
        margin-left: 8px;

        @include blg {
          margin-left: unset;
          width: 50px;
          height: 50px;
        }

        @include md {
          width: 60px;
          height: 60px;
        }
        @include tab {
          width: 50px;
          height: 50px;
        }
      }

      .gridLogoFirst {
        @include blg {
          width: 50px;
          height: 50px;
        }

        @include xlmd {
          margin-left: 20px;
        }

        @include md {
          width: 60px;
          height: 60px;
        }
        @include tab {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .rowExpandCollapse {
    @extend .backgroundCollapse;
    @include tab {
      min-width: 730px;
    }
  }
}
