@import "../../../assets/scss/mixins.scss";
@include ScrollBar;
.scrollBar {
  max-height: 600px;
  width: 100%;
  overflow: auto;
  padding-right: 20px;
}
.container {
  width: 100%;
  max-width: 1130px;
  @include tab {
    min-width: 750px;
  }
  .chackMain {
    padding-bottom: 25px;
    margin-right: 14px;
  }
  .green {
    &:before {
      @include leftborderColor;
      background: $green01;
    }
  }
  .greenSecond {
    &:before {
      @include leftExpandRowBorderColor;
      background: $green01;
    }
  }
  .orange {
    &:before {
      @include leftborderColor;
      background: $yellow;
    }
  }
  .orangeSecond {
    &:before {
      @include leftExpandRowBorderColor;
      background: $yellow;
    }
  }
  .gray {
    &:before {
      @include leftborderColor;
      background: $lightGray01;
    }
  }
  .graySecond {
    &:before {
      @include leftExpandRowBorderColor;
      background: $lightGray01;
    }
  }
  .red {
    &:before {
      @include leftborderColor;
      background: $red1;
    }
  }
  .redSecond {
    &:before {
      @include leftExpandRowBorderColor;
      background: $red1;
    }
  }
  .bgDisable {
    @extend .background;
    background: $gray09 !important;
    min-height: 50px;
  }
  .background {
    @include flexBetween;
    background: $white;
    position: relative;
    padding: 5px 13px;
    border-radius: 10px;
    min-height: 50px;
    max-height: 50px;
    margin-right: 12px;
    min-width: 1040px;

    @include xxlg {
      min-width: 1016px;
    }
    @include bxlg {
      min-width: 885px;
    }

    @include blg {
      min-width: 740px;
    }
    @include xlmd {
      min-width: 650px;
    }
    @include md {
      min-width: 730px;
    }
    @include tab {
      min-width: 610px;
    }
    .contactImage {
      object-fit: cover;
    }
    .centerExpand {
      min-width: 40%;
      max-width: 40%;
      margin: 0px 10px;
      @include xlmd {
        min-width: 37%;
      }
      .designationleftText {
        min-width: 40%;
        @include bxlg {
          min-width: 44%;
        }
        @include blg {
          min-width: 41%;
        }
        @include xlmd {
          min-width: 34%;
        }
        @include md {
          min-width: 30%;
        }
        @include tab {
          min-width: 31%;
        }
      }
    }
    .expandRightMain {
      min-width: 20%;
    }
    .expandDesignation {
      max-width: 170px;
      min-width: 160px;
      text-align: right;
      @include blg {
        max-width: 170px;
        min-width: 120px;
      }
      @include xlmd {
        min-width: 90px;
        max-width: 90px;
      }
    }
    .expandLeftMain {
      min-width: 30%;
      max-width: 30%;
      @include blg {
        min-width: 26%;
        max-width: 28%;
      }
      @include xlmd {
        min-width: 35%;
        max-width: 35%;
      }
      @include tab {
        min-width: 32%;
        max-width: 32%;
      }
    }
    .designationMain {
      min-width: 100px;
      @include textEllipse;
      @include flexJustifyBetween;

      @include blg {
        min-width: 240px;
        margin-right: 20px;
      }
      @include xlmd {
        min-width: 190px;
      }
      @include tab {
        min-width: 160px;
      }
    }
    .designationRightText {
      max-width: 170px;
      min-width: 150px;
      @include textEllipse;
      @include blg {
        max-width: 170px;
        min-width: 100px;
      }
      @include xlmd {
        max-width: 100px;
        min-width: 82px;
        @include textEllipse;
      }
      @include tab {
        max-width: 90px;
      }
    }
    .designationText {
      width: 230px;
      @include textEllipse;
      display: inline-block;
    }
    .assistText {
      width: 290px;
      @include textEllipse;
      display: inline-block;
    }
    .valCountryMain {
      min-width: 25%;
      max-width: 25%;
      .value {
        min-width: 50%;

        @include blg {
          min-width: 30%;
          margin-right: 20px;
        }
      }
      .country {
        width: 245px;
        @include textEllipse;
        @include bxlg {
          text-align: right;
        }
      }
      .gridCountry {
        @include textEllipse;
        display: inline-block;
      }
    }
  }
  .backgroundCollapse {
    padding: 12px 13px;
    max-height: unset;

    @include bxlg {
      min-width: 905px;
    }
    @include blg {
      min-width: 740px;
      gap: 10px;
    }
    @include xlmd {
      min-width: 680px;
    }
    @include md {
      min-width: 740px;
    }
    @include tab {
      min-width: 630px;
    }
  }
  .bgCollapseText {
    @include blg {
      padding: 0px;
    }
    @include tab {
      max-width: 110px;
    }

    & > div {
      @include blg {
        font-size: 16px;
        margin-top: 5px;
      }
    }
    .contactIconLeftMain {
      margin-left: 81px;
    }
  }
  .country {
    text-align: right;
  }
  input {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .officerName {
    min-width: 300px;
    max-width: 300px;
    margin-right: 20px;
    @include blg {
      max-width: 275px;
      min-width: 246px;
    }
  }
  .expandImageTwo {
    margin-left: 12px;
  }
  .size {
    @include textEllipse;
    min-width: 150px;
  }
  .iconYellow {
    color: $yellow;
  }
  .iconGray {
    color: $gray02;
  }
  .gridDevide {
    @include flexJustifyBetween;
    min-width: 400px;
  }
  .Gridcontainer {
    width: 100%;
    @include flex;
    margin-bottom: 24px;
    padding-right: 40px;
    .green {
      &:before {
        height: 100px;
      }
    }
    .orange {
      &:before {
        height: 100px;
      }
    }
    .gray {
      &:before {
        height: 100px;
      }
    }
    .red {
      &:before {
        height: 100px;
      }
    }
    .gridMain {
      @include flexJustifyBetween;
      min-width: 430px;

      @include blg {
        min-width: 365px;
      }
      @include xlmd {
        min-width: 330px;
      }
      @include md {
        min-width: 310px;
      }
      @include tab {
        min-width: 360px;
      }
    }
    .gridSecondMain {
      margin-left: 60px;
    }
    .bgCollapseDisable {
      border-radius: 10px;
      position: relative;
      background: $gray09;
      min-height: 100px;
      min-width: 460px;
      margin-right: 12px;
      @include bxlg {
        min-width: 400px;
      }
      @include blg {
        min-width: 320px;
      }
      @include xlmd {
        min-width: 290px;
      }
      @include md {
        min-width: 320px;
      }
    }
    .background {
      max-width: 460px;
      min-height: 100px;
      @include flexJustifyBetween;
      min-width: unset;
      @include bxlg {
        max-width: 400px;
      }
      @include blg {
        max-width: 315px;
      }
      @include xlmd {
        max-width: 290px;
      }
      @include md {
        max-width: 320px;
      }
      .officerName {
        min-width: 90px;
        display: grid;
        gap: 12px;
        @include textEllipse;
        @include bxlg {
          min-width: 75px;
        }
        @include xlmd {
          min-width: 60px;
        }
      }
      .designationMain {
        display: grid;
        gap: 12px;
        margin-left: 10px;
        max-width: 300px;
        min-width: unset;
        @include bxlg {
          margin-left: 0px;
        }
        @include blg {
          margin-right: 5px;
        }
      }
      .designationText {
        width: 125px;
        @include bxlg {
          width: 90px;
        }
        @include blg {
          width: 60px;
        }
        @include xlmd {
          width: 50px;
        }
        @include md {
          width: 55px;
        }
        @include tab {
          width: 80px;
        }
      }
      .valCountryMain {
        min-width: 15%;
        max-width: 350px;

        @include blg {
          min-width: 21%;
          max-width: 300px;
        }
        .value {
          min-width: 50%;

          @include blg {
            min-width: 30%;
            margin-right: 20px;
          }
        }
        .country {
          margin-top: 35px;
          width: 215px;
          @include bxlg {
            width: 175px;
          }
          @include blg {
            width: 115px;
          }
          @include xlmd {
            width: 110px;
          }
          @include md {
            width: 125px;
          }
          @include tab {
            width: 135px;
          }
        }
      }
      .gridLogoSecond {
        margin-left: 8px;
        @include blg {
          margin-left: unset;
          width: 50px;
          height: 50px;
        }
        @include md {
          width: 60px;
          height: 60px;
        }
        @include tab {
          width: 50px;
          height: 50px;
        }
      }
      .gridLogoFirst {
        @include blg {
          width: 50px;
          height: 50px;
        }
        @include xlmd {
          margin-left: 20px;
        }
        @include md {
          width: 60px;
          height: 60px;
        }
        @include tab {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .rowExpandCollapse {
    @extend .backgroundCollapse;
    @include tab {
      min-width: 730px;
    }
  }
}
