@import '../../../assets/scss/variables.scss';

.search {
    display: flex;
    gap: 25px;
    align-items: center;

    .mainIco {
        position: relative;
        min-width: 290px;
        max-width: 100%;

        .inputcla {
            height: 49px;
            border-radius: 5px;
            padding: 0px 40px 0px 10px;
            background-color: $white;
        }

        .rightIcon {
            position: absolute;
            right: 0px;
            top: 17px;
            cursor: pointer;
            padding-right: 10px;
        }
    }

    .allBtn {
        background: $white02;
        width: 120px;
        text-align: center;
        color: $black;
        height: 48px;
        border-radius: 12px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        border: none;
        outline: none;
    }

    svg {
        display: none;
    }

    fieldset {
        border: none;
    }
    div {
        border: none;
        outline: none;
        padding: 9px 0 9px !important;
    }
    .textAdv {
        text-decoration-line: underline;
        color: $gray;
        cursor: pointer;
    }
    
    .searcbutt:hover {
       
        background-color: $primary04;
 

    }
}
.selectList {
    width: 100%;
    text-align: right;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.15px;
    color: $darkGray;
}