@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/breakpoints.scss';

.search {
    display: flex;
    gap: 25px;
    align-items: center;

    @include md {
        gap: 10px;
    }
    @include mo {
        margin-left: 10px;
        gap: 0px;
    }

    .mainIco {
        position: relative;
        min-width: 290px;
        max-width: 100%;

        @include md {
            min-width: 120px;
        }
        @include mo {
            margin: 0px 5px 0px 5px;
            min-width: 100px;
        }

        @include msm {
            min-width: 60px;
        }

        .inputcla {
            height: 49px;
            border-radius: 5px;
            padding: 0px 40px 0px 10px;
            background-color: $white;

            &::placeholder {
                color: $white02;
            }

            @include sm {
                margin-right: 15px;
            }

            @include mo {
                border-radius: 12px;
            }

            @include msm {
                max-height: 45px;
            }
        }

        .rightIcon {
            position: absolute;
            right: 0px;
            top: 17px;
            cursor: pointer;
            padding-right: 10px;
        }
    }

    .allBtn {
        background: $white02;
        min-width: 120px;
        text-align: center;
        color: $black;
        height: 48px;
        border-radius: 12px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        border: none;
        outline: none;

        @include md {
            min-width: 70px;
            margin-left: 5px;
        }

        @include mo {
            margin-left: 5px;
            min-width: 70px;
            max-height: 40px;
        }

        @include msm {
            min-width: 50px;
        }
    }

    svg {
        display: none;
    }

    fieldset {
        border: none;
    }

    div {
        border: none;
        outline: none;
        padding: 9px 0 9px !important;
    }

    .textAdv {
        text-decoration-line: underline;
        color: $gray;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }

        @include mo {
            display: none;
        }

        @include sm {
            margin-right: 15px;
        }
        @include md {
            margin-right: 10px;
        }


    }

    .searchButton {
        @include mo {
            min-width: 100px;
            margin-right: 3px;
        }

        @include msm {
            min-width: 80px;
            font-size: $font-lg;
        }

        &:hover {
            background-color: $primary04;
        }
    }


}

.selectList {
    width: 100%;
    text-align: right;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.15px;
    color: $darkGray;
}