@import '../../../assets/scss/variables.scss';
.search{
    display: flex;
   gap: 25px; 
   
    .inputMain{
    
        border-radius: 5px;
        display: flex;
        align-items: center;
        background-color: $white;
       position: relative;
       max-width: 290px;
       width: 100%;
       
    }
    .rightIcon{
        position: absolute;
        left: 280px;
       padding-top: 8px;
        
        cursor: pointer;
    }
}