@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/breakpoints.scss";

.layoutMain {
    background: $white01;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0 0;
    position: relative;
    @include mo {
        padding:0;
    }
   
    .header {
        text-align: center;
    }

    .sidebar {
        position: fixed;
        width: 100%;
        min-width: 428px;
        z-index: 1;
    }

    .mainContainer {
        margin-left: 163px;
        margin-right: 45px;
        @include xmd {
            margin: 0px 45px 0px 120px;
        }
        @include md {
            margin: 0px 45px 0px 0px;
        }
        @include sm {
            margin-left:0px ;
        }
        @include iPad {
            margin: 0px 45px 0px 67px;
        }
        @include mo {
            margin:0px 5px;
        }
        
       }
}

@include ScrollBar;

.scrollBar {
    &::-webkit-scrollbar-track {
        background: $white;

        @include sm {
            width: 12px;
            height: 8px;
        }
    }


    &::-webkit-scrollbar-track {
        @include sm {
            width: 10px;
        }
    }
}

.scrollWrapper {
    max-height: calc(90vh - 115px);
}