@import "../../../assets/scss/variables.scss";
.layoutMain {
    min-height: 100vh;
    width:100%;
    background: $white01;
    .layout {
        position: fixed;
        width: 100%;
        min-width: 428px;
        z-index: 1;
    }
}