@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/styles.scss";

.container {
    width: 100%;
    // min-height: 100vh;
    @include fonts-poppins;

    @include mo {
        margin: 0px 3px 0px 0px;
    }

    .statsHeading {
        @include mo {
            text-align: center;
            font-size: $font-xllg;
        }
    }

    .statsText {
        max-width: 1078px;

        @include tab {
            max-width: 500px;
        }

        @include iPad {
            max-width: 400px;
        }

        @include mo {
            text-align: center;
        }
    }

    .statsContent {
        @include sm {
            display: block;
        }
    }

    .toggleMonth {
        max-width: 130px;

        @include sm {
            margin-top: 20px;
            max-width: 100px;
        }

        @include iPad {
            max-width: 130px;

        }

        @include mo {
            margin-left: 130px;

        }
        @include xsm {
            margin-left: 90px;

        }
    }

    .toggleSwitch {
        @include sm {
            margin-right: 20px;
            text-align: unset;

        }


    }
    .cardStyles{
        @include tab {
            padding-left: 0px;
        }
        @include mo {
            padding-left: 32px;
        }
    }
    .statsCard {
        max-width: 549px;
        min-height: 452px;
        box-shadow: $shadow02;
        border-radius: 10px;
        padding: 40px 30px;

        @include xlmd {
            min-height: 250px;
            padding: 15px 30px;
        }
        @include md {
            max-width: 270px;
            min-height: 200px;
            padding: 0px 5px 0px 0px;
        }

        @include tab {
            max-width: 230px;
            min-height: 120px;
            padding: 0px;
        }

        @include mo {
            max-width: 350px;
            margin: 0 10px;
        }
        @include xsm {
            max-width: 295px;
            margin: 0 10px;
        }

        .statsChart {
            margin-top: 80px;

            @include xmd {
                margin-top: 60px;
            }

            @include md {
                margin-top: 30px;
            }

            @include tab {
                margin-top: 50px;
            }

            @include mo {
                margin-top: 30px;
            }
        }
    }
}