@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/variables.scss";

span{
    letter-spacing: -0.015em;
    font-family: 'Poppins', sans-serif;
}
.xxsText {
    font-size: $font-xxs;
    line-height: 12px;
    @include textStyling;
}
.xsText {
    font-size: $font-xs;
    line-height: 14px;
    @include textStyling;
}
.smText {
    font-size: $font-sm;
    line-height: 18px;
    @include textStyling;
}
.mdText {
    font-size: $font-md;
    line-height: 19px;
    @include textStyling;
}
.lgText {
    font-size: $font-lg;
    line-height: 20px;
    @include textStyling;
}
.mlgText {
    font-size: $font-mlg;
    line-height: 24px;
    @include textStyling;
}

.xlText {
    font-size: $font-xl;
    line-height: 26px;
    @include textStyling;
}
.xxlText {
    font-size: $font-xxl;
    line-height: 30px;
    @include textStyling;
}
.xxxlText {
    font-size: $font-xxxl;
    line-height: 36px;
    @include textStyling;
}
.mdBigText {
    font-size: $font-mdbig;
    line-height: 54px;
    @include textStyling;
   
}
.poppins {
    font-family: 'poppins', 'sans-serif';
  }
  .roboto {
    font-family: 'roboto','sans-serif'
  }