@import "../../assets/scss/mixins.scss";

.searchMain {
    margin-left: 300px;
    margin-bottom: 120px;

    @include xlmd {
        margin-left: 180px;
    }
    @include md{
        margin-left: 0px;
    }

    @include mo {
        margin-left: 30px;
    }
}

.newsContainer {
    @include md {
        display: block;
        max-width: 700px;
        margin-right: 12px;
    }
}

.colMd4 {
    flex: 0 0 33.333333%;
    max-width: 730px;

    @include sm {
        flex: 0 0 100%;
    }
}


@include ScrollBar;

.scrollBar {
    &::-webkit-scrollbar-track {
        background: $white;
    }
}

.w60 {
    // @include md {
    //     flex: 0 0 60%;
    //     margin: 0 20% 50px;
    // }

    @include sm {
        flex: 0 0 100%;
        margin: unset;
    }
}

.cardHeading {
    font-size: 28px;
    text-align: center;
    display: block;
    margin-bottom: 35px;

    @include xxmd {
        font-size: 22px;
    }

    @include sm {
        margin-bottom: 50px;
    }
}

.xbigText {
    font-size: 28px;
}

.homeCard {
    max-height: 350px;
    word-break: break-word;

    @include xlg {
        max-height: 340px;
    }

    @include sm {
        max-height: 240px;
        margin-bottom: 84px;
    }

    @include md {
        max-height: 500px;
    }

    .pR30 {
        padding-right: 30px;

        @include xxmd {
            padding-right: unset;
        }
    }
}

.newsCard {
    @include tab {
        margin-bottom: 20px;
    }
}

.scrollWrapper {
    max-height: calc(49vh - 115px);

    @include xxlg {
        max-height: calc(51vh - 115px);
    }

    @include xlmd {
        max-height: calc(35vh - 115px);
    }
}

.chart {
    position: relative;
    min-width: 400px;

    .updateText {
        margin-bottom: 150px;

        @include xlmd {
            margin-bottom: 120px;
        }
    }
}