@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/styles.scss";

.search {
    display: flex;
    justify-content: center;
    
}
.barnewslist{
    display: flex;
    margin-top: 150px;
}
.colMd4 {
    flex: 0 0 33.333333%;
    max-width: 472px;
    height: 328px;
   margin-left: 175px;
//    margin-top: 150px;
    @include sm {
      flex: 0 0 100%;
    }
  }

  .colMd12 {
    flex: 0 0 100%;
  }

  .homeCard {
    max-height: 450px;
    word-break: break-word;
    @include xlg{
      max-height: 264px;
    }
    @include sm{
      max-height: 240px;
      margin-bottom: 84px;
    }
    .pR30{
      padding-right: 30px;
      @include xxmd{
        padding-right: unset;
      }   
    }
    .newsHeading {
      line-height: 120%;
      @include xlg {
        font-size: $font-mlg;
      }
      @include xxmd{
        font-size: 11px;
      }
      @include sm{
        font-size: 14px;
      }    
    }
    .newsDetils {
      line-height: 143%;
      margin-top: 34px;
      @include xxmd{
        font-size: 10px;
      }
      @include sm{
        font-size: 12px;
      }
    }
     
  }
  @include ScrollBar;
  .scrollBar { 
    &::-webkit-scrollbar-track {
      background: $white;
    }
  }
  .w60{  
    @include md{
      flex: 0 0 60%;
      margin:0 20% 50px;  
    }
    @include sm{
      flex: 0 0 100%;
      margin:unset;
    }
  }
  .cardHeading{
    font-size: 28px;
    text-align: center;
    display: block;
    margin-bottom: 35px;
    font-family: 'Poppins';
    @include xxmd{
      font-size: 22px;
    }
    @include sm{
      margin-bottom: 50px;
    }
  }
  // char scss

.chart{
    position: relative;
  left: 120px;
    .textbar{
      position: absolute;
      top: 80px;
      left:45px;
    }
    .textbarone{
      position: absolute;
      top: 43px;
      left:175px
    }
    .textbartwo{
      position: absolute;
      bottom: 165px;
      right: 50px;
    }
  }
  