@import "../../../assets/scss/variables.scss";

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;


    .technoMile {
        width: 100%;
        max-width: 982px;
        background: $white04;
        padding-top: 53px;
        text-align: center;

        .mt30Box {
            width: 68px;
            height: 85px;
        }

        .inputBox {
            display: flex;
            gap: 10px;
            margin-left: 10px;
            max-width: 99px;
            margin-top: 27px;
            padding: 0px 35px;
        }

        .forgotBox {

            padding: 85px 30px 85px 30px;

            .forgotText {
                margin: 30px 0px 0px 0px;
            }
        }

        .enterText {
            margin-top: 27px;
        }

        .secText {
            margin-top: 27px;
            cursor: pointer;
            text-decoration: underline;
        }

        .secTwoText {
            margin: 21px 0px 22px 0px;
            cursor: pointer;
            text-decoration: underline;

        }

        .inptBox {
            width: 408px;
            margin: 25px auto;

        }

        .btnMain {
           margin-top: 48px;
        }
        .continueBtn{
            margin-top: 28px;
        }

        .authenticHeading {
            margin: 33px 0px 0px 0px;

            .autoHead {
                margin-top: 10px;
            }

        }


        .mainBox {
            padding: 37px 48px 48px 48px;
            

            .inputMainBox {
                display: flex;

                .inputBox {
                    width: 50px;
                }
            }

            .errorMsg {
                color: $red1;
                text-align: left;
            }
        }

        .imageBox {
            margin-left: 60px;
        }

        .mainCard {
            box-sizing: border-box;
            display: inline-block;
            border-radius: 8px;
            background: $white;
            width: 100%;
            max-width: 504px;
            margin: 20px 0px 0px 40px;

            .mainText {
                margin-top: 20px;
            }

            .forgotText {
                text-align: right;
                margin-top: 9px;
                text-decoration: underline;
                cursor: pointer;
            }



            // .mainHead {

            //     padding-bottom: 19px;
            //     text-align: center;
            // }

            .inputMain {
                width: 408px;
                margin-top: 27px;

                .inputSec {
                    & ::placeholder {
                        color: black;
                    
                       
                    }
                }

                .passText {
                    margin-top: 25px;

                }

            }

            .btnMain {
                margin-top: 51px;

            }

            .secText {
                text-align: center;
                text-decoration: underline;
            }

           

        }
    }

    .resourCes {
        width: 100%;
        max-width: 952px;
        background: $white;

        .resourCesBox {
            text-align: center;
            margin-top: 35px;

            .firstImgBox {
                margin: 45px 0px;
            }
        }
    }
}