@import "../../../assets/scss/mixins.scss";

.cardContainer {
    font-family: 'Poppins';
    font-style: normal;

    .criteriaBox {
        max-width: 554px;
        border-radius: 10px;
        @include xlmd{max-width: 389px;}

        .cardWrapper {
            display: flex;
            padding: 24px 26px 25px 16px;
            @include md{ padding-left: 12px;}

            .imageBox {
                .armyImage{
                    @include md{ width: 63px;height: 78px;}

                }
                .contact {
                    max-width: 74px;
                    letter-spacing: 16px;
                    margin: 0px 39px;
                    @include md{margin:0px; letter-spacing: 12px;}
                }
            }

            .contentBox {
                width: 100%;
                margin-left: 25px;
                margin-top: 22px;
                display: grid;
                gap: 12px;
                @include xlmd { margin-left: 16px; }
                @include md {  margin-left: 0px; margin-top: 11px; }


                .identityText {
                    @include xlmd {
                        font-size: 10px;
                    }
                }

                .starBox {
                    display: flex;


                    .starIcon {


                        &:hover {
                            color: rgba(0, 0, 0, 0.3);
                            transition: 0.5s;
                        }
                    }

                    .mainHead {
                        width: 100%;
                        max-width: 309px;

                        @include xlmd {
                            font-size: 12px;
                        }
                    }
                }

                .locationBox {
                    @include flex;

                    @include xlmd {
                        width: 184px;
                    }

                    .userLocate {
                        font-size: 19px;
                    }

                    .locateText {
                        width: 100%;
                        max-width: 312px;

                        @include xlmd {
                            font-size: 10px;
                            max-width: 159px;
                        }
                    }
                }

                .descText {
                    color: rgba(0, 0, 0, 0.3);
                    @include xlmd {
                        font-size: 10px;
                    }
                }

                .btnBox {
                    display: flex;
                    justify-content: space-between;
                }
            }

        }
    }
}