@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixins.scss';

.wrapper {
    width: 100%;
    max-width: 476px;
    .newsCardMain {
        @include flex;
    }
    .textSecond {
        max-width: 472px;
    }
}