@import "../../../assets/scss/mixins.scss";

.container {
    user-select: none;
    @include fonts-poppins;
    @include md {
        margin-left: 20px;
    }
    @include mo {
        margin-left: 5px;
    }
    .heading {
        font-size: $font-mdbig;
        margin: 80px 0px 10px 0px;

        @include mo {
            font-size: $font-xllg;
        }
    }

    @include ScrollBar;

    .scrollBar {
        overflow: auto;
    }

    .tableContainer {
        width: 100%;
        max-width: 1300px;
        @include fonts-poppins;

        @include xmd {
            max-width: 1300px;
            @include ScrollBar;

        }

        @include md {
            max-width: 810px;
        }

        @include tab {
            max-width: 1000px;
        }

        .border {
            border: none;
        }

        .tableHead {
            display: flex;

            .border {
                width: 100%;

                &:first-child {
                    max-width: 30%;
                }

                &:last-child {
                    max-width: 68%;

                    @include xmd {
                        max-width: 70%;
                    }

                    @include tab {
                        max-width: 60%;
                    }
                }
            }

        }


        .scrollWrapper {
            @include xmd {
                max-height: calc(50vh - 135px);
            }

            @include md {
                max-height: calc(70vh - 135px);
            }
        }


        .tableBody {
            max-height: 430px;
            display: block;
            padding-right: 33px;
            border-bottom: 0;


            i {
                position: absolute;
                left: 15px;
            }

            .rowBgMain {
                background: $white;
                border-radius: 10px;
                display: block;
                border: none;
                margin-bottom: 12px;
                position: relative;

                .subjectMain {
                    min-width: 426px;
                    border: none;

                    @include xmd {
                        min-width: 340px;
                    }

                    @include md {
                        min-width: 285px;
                    }
                }

                .descriptionMain {
                    min-width: 548px;

                    @include xmd {
                        min-width: 400px;
                    }

                    @include md {
                        min-width: 400px;
                    }

                    @include tab {
                        min-width: 300px;
                    }
                }

                .border {
                    width: 100%;
                }

                .deleteText {
                    cursor: pointer;
                    z-index: 1;
                    position: absolute;
                    top: 70px;
                    right: 10px;
                    background: $white;
                    min-width: 250px;
                    padding: 10px;
                    text-align: right;
                    border: none;
                }
            }
        }
    }

}