@import "../../assets/scss/mixins.scss";
.container {

  @include iPad{margin-right: 0px;}
  @include xxsm{padding:0px 15px;}
  .heading{
    @include md{font-size:20px;}
    @include iPad{font-size:24px; text-align: center;}
    @include mo{font-size: 18px;}
    @include xxsm{font-size: 14px;}
  }
  .headingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include iPad{display: grid;}
    @include mo{display: grid; justify-content: center;}
   
    .searchBox {
      width: 100%;
      max-width: 235px;
      background-color: $gray07;
      @include iPad{min-width: 488px;}
      @include mo{min-width: 220px;}
      @include xxsm{min-width:158px;}
    }
    .mainSearchBox{
        display: flex;
        align-items: center;
        @include iPad{margin-top: 15px;}
        @include mo{margin-top:10px;}
    }
  }
  .multipleBtn{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-bottom: 45px;
    @include iPad{display:flex; justify-content:left;}
    @include mo{display: grid;justify-content: revert;}

}
}
.profileModel{
 width: 100%;
 max-width: 500px;
 margin:10% auto;

 .resetHead{
  text-align: center;
 }
 .resetText{
  margin-top: 25px;
 }
 .resetHeadText{
  margin-top: 25px;
 }
  
  .profileCard{
    margin-top: 45px;
    width: 100%;
    max-width: 500px;
    padding:17px 0px 28px 24px;
  }
  .btnMain{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
}
.mainModal{
  width:100vw;
  height:100vh;
  background: transparent;
}
.mList{
  padding-left: 0px !important;
}
.addUserModel{
 
  margin:7% auto;
    width: 100%;
    max-width: 800px;
    @include xlmd{max-width:725px;}
    @include iPad{
padding-right: 10px;
    }
    .SecondInput {
      // margin-left: 30px;
      .accountInfoBox{
        display: grid;
        gap:20px;
      }
  }
    .Infoinput{
      width: 100%;
    max-width: 375px;
    max-height: 40px;
    }
    .inputHolder {
      display: flex;
      justify-content: space-around;
      @include mo{
        display: grid;
      }
      .accountInfoBox{
        display:grid;
      gap:20px;
      @include mo{margin-top:20px;}
          }
      
    }
    .arrowInput {
      text-align: left;
      display: flex;
      position: relative;
       .empInputTwo {
          height: 55px;

          .menuItem {
              margin-left: 100px;
          }
      }
   


      .iconDown {
          right: 0px;
          top: 0px;
          color: $gray07;
          position: absolute;
          background: $white03;
          border-radius: 12px;
          height: 40px;
          font-size: 20px;
          padding: 10px 9px 0px 8px;
          
      }
  }

    .empInput{
      width: 228px;
      background: $white03;
      font-size: 18px;
      height: 40px;
      border-radius: 10px;
      text-indent: 1px;
      text-overflow: '';
    }
    .resetHead{
      text-align: center;
     }
  .addAccountCard{
    max-width: 800px;
    margin-top: 45px;
    // padding:24px 28px 26px 24px;
    padding: 24px 0px 26px 0px;
    @include xlmd{max-width: 725px;}
  }
  .btnMain{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
}
@include ScrollBar;

// .user{
// min-width:200px;
// max-width: 200px;
// }
// table{
//   th{
//     font-size: 10px;
//     background-color: red;
    
//   }
// }
.user{
  min-width:125px;
  max-width: 130px;

}

table{
  th{
    min-width:100px;
    max-width:135px;
    @include textEllipse;
  }
    tr{
.check{
  visibility: hidden;

}
& :hover{
  .check{
    visibility: show;
  }
}
    
  }
}

