@import "../../../assets/scss/mixins.scss";
@include notificationContainer;


.container {
    .tableContainer {
        max-width: 1400px;
        min-height: 560px;
        .scrollBar {
            overflow: auto;
        }

        .tableHead {
            .border {
                width: 25%;

                &:first-child {
                    max-width: 40%;
                }

                &:last-child {
                    max-width: 60%;
                }
            }

            .filterBorder {
                text-align: left;
                margin-right: 45px
            }

            .resultBorder {
                margin-right: 115px;
                text-align: right;

                @include xlmd {
                    margin-right: 12%;
                }
            }


        }


        .scrollWrapper {
            @include xlmd {
                max-height: calc(60vh - 135px);
            }
        }

        .tableBody {
            .rowBgMain {

                .subjectMain {
                    max-width: 530px;
                    cursor: pointer;

                    @include xlmd {
                        min-width: 280px;
                    }
                }

                .descriptionMain {
                    min-width: 150px;

                    .filterText {
                        min-width: 160px;
                        background: $lightGray;
                        padding: 5px 7px;
                        border-radius: 24px;

                        @include xlmd {
                            min-width: 130px;
                        }
                    }

                    .Results {
                        max-width: 100px;
                    }
                }

                .border {
                    width: 17%;
                }
            }
        }
    }

}