@import "../../../assets/scss/mixins.scss";

.tab {
    width: 100%;
    background-color: $white;
    max-width: 280px;
    min-height: 80px;
    border-radius: 10px;
    padding-left: 13px;
    display: flex;
    @include mo{max-width: 240px;}
   
    
      &.enable {
        background-color:$gray09;
      }
    .tabWrapper {
        display: flex;
        align-items: center;

        .CheckBox {
            margin-bottom: 20px;
        }

        .imgFluid {
            size: 40px;
        }
    }

    .titleMain {
        margin: 22px 9px 0px 36px;
        @include mo{margin-right: 0px;}
        .tagName{
            width:121px;
            @include mo{width:53px;}
            @include xxsm{font-size: 8px;}
        }
        

        .titleNumber {
            display: flex;
            margin-top: 9px;
            line-height: 0px;

            .contect {
                letter-spacing: 8px;
                margin: 0px 0px 5px 0px;
                @include mo{margin-left:50px ;}
                @include xxsm{margin-left:16px ;}

            }
        }
    }

}