@import '../../../assets/scss/mixins.scss';

.pseudoContainer {
    @extend .container;
    top: 0px !important;
}

.container {
    position: fixed;
    box-sizing: border-box;
    min-height: 100vh;
    z-index: 1;
    top: 145px;

    @include blg {
        top: 120px;
    }
    @include md {
        top: 95px;
    }

    @include tab {
        top: 110px;
    }

    @include mo {
        top: 100px;
    }

    .menu {
        display: grid;
        padding: 15px 10px;
        text-align: center;
        max-width: 100px;
        background: $primary;
        border-radius: 0px 18px 18px 0px;
        min-height: 500px;

        @include blg {
            min-height: 50vh;
        }

        @include md {
            min-height: 250px;
        }

        @include tab {
            min-height: 300px;
        }

        & li {
            cursor: pointer;
        }

        .burgerIcon {
            transition: 0.3s ease;
        }
    }

    .sidebarFooter {
        i {
            &:hover {
                color: $lightGray03;
            }
        }
        @include xxlg {
            margin-top: 40px;
        }
        @include xlmd {
            margin-top: 20px;
        }

        @include sm {
            margin-top: 10px;
        }

        i {
            @include tab {
                margin-left: 25px;
            }
        }

        @include mo {
            margin-top: 5px;
        }
    }

    .sidebarMain {
        padding: 14px 10px 34px 48px;
        width: 100%;
        max-width: 428px;
        min-height: 100vh;
        background: $white01;
        border-right: 6px solid $primary;

        @include tab {
            padding-top: 15px;
        }

        @include mo {
            padding: 14px 10px 34px 17px;
        }

        & input {
            background: $white;

            &::placeholder {
                @include fonts-poppins;
                color: $white02;
            }
        }

        & input:focus {
            border: 1px solid $white02;
        }

        .advanceSearchText {
            @include flexJustifyBetween;
            margin-right: 15px
        }

        @include ScrollBar;

        .scrollBar {
            &::-webkit-scrollbar-track {
                background: $white;
            }
        }

        @include ScrollBarTransparent;

        .scrollBarTransparent {
            &::-webkit-scrollbar-track {
                background: transparent;
            }
        }

        .burgerIcon {
            transition: 1s ease-in-out;
        }

        .inputMain {
            width: 100%;
            @include flexJustifyBetween;
            position: relative;

            .searchInput {
                min-width: 260px;

                &::placeholder {
                    @include fonts-poppins;
                    font-size: $font-xllg;
                }

                @include mo {
                    min-width: 200px;
                }

                @include xsm {
                    min-width: 190px;
                }
            }

            .iconSearch {
                position: absolute;
                top: 4px;
                right: 10px;
            }
        }

        .toggleSwitch {
            margin: 0px;
        }

        .textBoldMain {
            max-width: 277px;

            @include xsm {
                max-width: 250px;

            }
        }
    }

    .scrollWrapper {
        max-height: 100vh;

        @include xxlg {
            max-height: 600px;
        }

        @include bxlg {
            max-height: 500px;
        }

        @include blg {
            max-height: 450px;
        }

        @include xlmd {
            max-height: 600px;
        }
    }

    .scrollWrapper1 {
        max-height: calc(62vh - 300px);
        max-width: 210px;

    }

    .primaryChipColor {
        background: $primary;
        color: $white;
        padding: 2px 7px;
    }

    .primarySwitchColor {
        color: $white;
    }

    .searchBtnMain {
        @include xsm {
            justify-content: unset;
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    .sidebarMainFooter div {
        @include md {
            margin-top: 40px;
        }

        @include tab {
            margin-top: 20px;
        }
    }
}