@import '../../../assets/scss/mixins.scss';

.cardContainer {
    width: 100%;
    background-color: $white;
    max-width: 440px;
    min-height: 80px;
    border-radius: 10px;
    padding: 0px 13px 0px 0px;
    @include flexJustifyBetween;

    @include xxsm {
        max-width: 300px;
        display: block;
        gap: 20px;
        text-align: center;
    }

    .cardHeading {
        &:hover {
            font-weight: 500;
            text-decoration: underline;
        }
    }

    .greenBorder {
        min-width: 15px;
        border-radius: 0px 10px 10px 0px;
        background: $green01;
        min-height: 100px;
        transform: rotate(-180deg);
        margin-right: 10px;
    }

    .titleMain {
        max-width: 188px;
        margin: 3px 90px 0px 0px;
        display: grid;
        gap: 15px;

        @include xxsm {
            margin: 3px 0px 0px 0px;

        }
    }

    .titleNumber {
        padding-top: 3px;
        display: grid;

        @include xxsm {
            @include flexJustifyAround;
            padding: 10px 0px;
        }

        gap: 11px;

        .vaText {
            margin-top: 30px;
        }
    }
}