@import '../../../assets/scss/variables.scss';
.search{
    display: flex;
    
   
    .inputMain{
    
        border-radius: 5px;
        display: flex;
        align-items: center;
        background-color: $white;
       position: relative;
        background-color: $white04;
    }
    .rightIcon{
        position: absolute;
        left: 500px;
        top: 10px;
        
        cursor: pointer;
    }
}