@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/styles.scss';

.wrapper {
    width: 100%;
    max-width: 476px;
    min-height: 343px;
    background: $white01;

    .newsCardMain {
        display: flex;

        @include xsm {
            flex-wrap: wrap;
            gap: 10px;
        }

        .cardImage {
            max-width: 250px;
            margin-right: 24px;
            object-fit: cover;

            @include md {
                max-width: 150px;
                margin-right: 15px;
            }

            @include xsm {
                max-width: 250px;
                margin-right: 0px;
            }
        }

        .textPrimary {
            max-width: 197px;
            line-height: 28px;

            @include blg {
                font-size: $font-xxl;
            }
            @include md {
                max-width: 150px;
                font-weight: 400;
            }

            @include tab {
                max-width: 200px;
                font-weight: 600;
            }

            @include xsm {
                font-weight: 400;

            }
        }
    }

    .textSecond {
        max-width: 472px;
        margin-top: 34px;
    }


}