@import "../../../assets/scss/mixins.scss";
@include ScrollBar;

.scrollBar {
    max-height: 615px;
    width: 100%;
    overflow: auto;
    padding-right: 20px;
    @include xxlg {
        max-height: 515px;
    }
}

.container {

    .tableCheckbox {
        padding-bottom: 30px;
    }

    .table {
        width: 100%;
        min-width: 1100px;

        @include bxlg {
            min-width: 900px;
        }

        @include blg {
            min-width: 830px;
        }

        @include xlmd {
            min-width: 760px;
            padding-right: 20px;
        }

        @include md {
            min-width: 830px;
        }

        .checkCell {
            max-width: 50px;
            padding: 0;
        }

        td {
            border: none;
        }

        tr {
            margin: 8px;

            .green {
                &:before {
                    content: "";
                    position: absolute;
                    background: $green01;
                    border-radius: 10px 0px 0px 10px;
                    display: block;
                    width: 20px;
                    height: 50px;
                    top: 0;
                    left: 0;
                    top: 0;
                }
            }

            .greenSecond {
                &:before {
                    content: "";
                    position: absolute;
                    background: $green01;
                    border-radius: 10px 0px 0px 10px;
                    display: block;
                    width: 20px;
                    height: 100px;
                    top: 0;
                    left: 0;
                }
            }

            .orange {
                &:before {
                    content: "";
                    position: absolute;
                    background: $yellow;
                    border-radius: 10px 0px 0px 10px;
                    display: block;
                    width: 20px;
                    height: 50px;
                    top: 0;
                    left: 0;
                }
            }

            .orangeSecond {
                &:before {
                    content: "";
                    position: absolute;
                    background: $yellow;
                    border-radius: 10px 0px 0px 10px;
                    display: block;
                    width: 20px;
                    height: 100px;
                    top: 0;
                    left: 0;
                }
            }

            .red {
                &:before {
                    content: "";
                    position: absolute;
                    background: $red1;
                    border-radius: 10px 0px 0px 10px;
                    display: block;
                    width: 20px;
                    height: 50px;
                    top: 0;
                    left: 0;
                }
            }

            .redSecond {
                &:before {
                    content: "";
                    position: absolute;
                    background: $red1;
                    border-radius: 10px 0px 0px 10px;
                    display: block;
                    width: 20px;
                    height: 100px;
                    top: 0;
                    left: 0;
                }
            }
        }

        .background {
            @include flexBetween;
            background: $white;
            position: relative;
            padding: 5px 13px;
            border-radius: 10px;
            max-height: 50px;
            min-width: 1040px;

            @include xxlg {
                min-width: 1016px;
            }

            @include bxlg {
                min-width: 885px;
            }

            @include blg {
                min-width: 710px;
            }

            @include xlmd {
                min-width: 650px;
            }


            img {
                margin-left: 18px;
                object-fit: cover;
            }
        }

        .backgroundCollapse {
            padding: 12px 13px;
            margin-bottom: 15px;
            max-height: unset;
        }

        .bgCollapseText {
            @include blg {
                gap: 4px;
                padding: 0px;
            }
        }

        input {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .size {
            font-weight: 600;
            color: $gray01;
            padding-right: 19px;
            padding-left: 5px;
        }

        .officerName {
            width: 25%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .designationMain {
            max-width: 600px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            @include blg {
                max-width: 400px;
            }
        }

        .designationText {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            text-align: left;
            @include blg {
                width: 90px;
            }
            @include xlmd {
                font-weight: 500;
                width: 36px;
            }
            @include md {
                width: 90px;
            }
        }

        .assistText {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            @include blg {
                max-width: 120px;
            }
        }

        .phone {
            color: $gray;
            font-weight: 400;
        }

        .iconYellow {
            color: #FFC000;
        }

        .iconGray {
            color: $gray02;
        }
    }
}