@import './assets/scss/icon.scss';
@import './assets//scss/styles.scss';
@import './assets/scss/variables.scss';


.inputTab{
    // padding:16px;
    font-size: 40px;
   
   }
   .numInput{
    display: flex;
    justify-content: space-around;
    width: 400px;
   
   }
   
   
   input[type="text" i] {
     margin-left: 13px;
     height: 85px;
     background:$white03;
     width:68px !important;
     border:none;
     font-size: 30px;
   
   } 