@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/styles.scss";


.criteria{
    width:100%;
    max-width:1680px;
    height:100%;
    min-height:660px;
    display:block;
    justify-content: center;
    padding: 25px 0px 0px 25px;
    border-radius: 10px;
    position: relative;
    @include mo{padding-left: 0px;}
    .screenIcon{
        position: absolute;
        top: 20px;
        right: 60px;
        .sliderValue{
            color:$black
        }
        
    }
   
    
    .tab{
        margin-bottom:125px;
        position: relative;
       
        .tabIcon{
           margin-top:-14px;
           margin-left: 120px;
            .sign{
                position: absolute;
                &::before{
                    content: "";
                    position:absolute;
                    background-color:$black;
                    width:1px;
                    height: 125px;
                    top: 25px;
                    right: 14px;
                }            
            }                                           
        }       
    }
    .tabRight{
        display: flex;
        margin-bottom:125px;
        max-width: 100%;
        position: relative;
       
        .tabIcon{
            margin-top:-14px;
            margin-left: 120px;
            position: relative;                      
        }
       
      .tab02{
            margin-left: 33px;
            position: relative;

            &::before{
                content: "";
                position:absolute;
                background-color:$black;
                width:307px;
                height:1px;
                right:135px;
                top:-31px;
                
            } 
            &::after{
                content: "";
                position:absolute;
                background-color:$black;
                width:1px;
                height:31px;
                left:136px;
                top:-31px;
                
            }
              
           
        }
    }
}